# Direktori dan file Python yang tidak perlu di-track oleh Git
__pycache__/
*.pyc
*.pyo
*.log

# File konfigurasi atau kredensial sensitif
config.txt
keylogger_log.txt
.env

# Virtual environment (jika menggunakan virtualenv)
venv/
.env/

# File sementara dari editor dan sistem operasi
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.mp4
*.avi
*.wav
ffmpeg.exe

# Hasil build dari PyInstaller jika menggunakan
dist/
build/
*.spec
